:root {
  --details-color: #c7c7c7;
  --text-color: #ffffff;
  --nav-background-color: #012d63;
  --ua-button-color: #dcdcdc;
  --buttton-color: #8e32c6;
  --form-text-color: #959595;
  --footer-background-color: #021635;
  --footer-line-color: #9b9b9b;
  --day-color: #d8d8d8;
  --confirmation-color: #8d8d8d;
}

body {
  background-color: var(--nav-background-color);
  font-family: "Playfair Display", serif;
  color: var(--text-color);
}

.container {
    padding: 0 15px;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 100px;
  height: auto;
}

header a {
  color: var(--details-color);
  text-decoration: none;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

header a:hover {
  color: var(--text-color);
  font-weight: 400;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url(../img/hero_section_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 170px 50px 100px;
  font-weight: 300;
}

h1 {
  font-size: 144px;
  padding: 0;
  margin: 0;
}

.hero h2 {
  font-size: 72px;
  padding: 0;
  margin: 0;
}

.hero h3 {
  font-size: 48px;
  padding: 0;
  margin: 0;
  font-family: "PT Serif", serif;
}

.hero p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.hero a {
  background-color: var(--buttton-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  text-decoration: none;
  padding: 20px 35px;
  margin-top: 20px;
  border-radius: 5px;
}

.hero-logo {
  width: 160px;
  height: auto;
  position: absolute;
  top: 170px;
  left: 25px;
}

.highlights {
  display: flex;
  text-align: center;
  font-size: 36px;
  height: 606px;
  background-image: url(../img/highlight_section_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  width: 240px;
  height: 346px;
  margin: 0px 30px;
  position: relative;
}

.card p {
  padding: 0;
  margin: 0;
}

 .card:nth-child(2) {
  margin: 0 30px;
} 

.highlights-container {
  display: flex;
  border: var(--buttton-color) 5px solid;
  padding: 60px;
  gap: 80px;
}

.card::after {
      content: "";
  width: 1px;
  height: 346px;
  background: var(--text-color);
  position: absolute;
  top: 0;
  right: -50px;
}

.card:nth-child(3):after {
  left: -50px;
}

.card:nth-child(2)::after {
  display: none;
}

.reviews-section {
  background-image: url(../img/reviews-section-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  border-top: 4px solid var(--text-color);
  border-bottom: 4px solid var(--text-color);
  text-align: center;
}

.review-heading {
  font-size: 48px;
}

.review-cards {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.review-card {
  width: 260px;
  padding: 22px;
  border-radius: 18px;
  color: var(--text-color);
}

.reviews-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 25px 53px 25px 53px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.blue {
  background: linear-gradient(135deg, #22d3ee, #a855f7);
  box-shadow: 0px 15px 0px -5px #7b54b2, 0px 28px 0px -10px #533978;
}

.purple {
  background: linear-gradient(135deg, #ec4899, #7c3aed);
  box-shadow: 0px 15px 0px -5px #9159b1, 0px 28px 0px -10px #61337c;
}

.orange {
  background: linear-gradient(135deg, #facc15, #fb7185);
  box-shadow: 0px 15px 0px -5px #b95a4c, 0px 28px 0px -10px #732f26;
}

.text {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  opacity: 0.7;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.author img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.name {
  font-size: 13px;
  font-weight: bold;
}

.info {
  font-size: 11px;
  opacity: 0.7;
}

.order-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/order_section_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.text {
  font-size: 22px;
}

.order-container {
  text-align: center;
  width: 420px;
  margin: 0 auto;
  padding: 15px 20px 30px;
}

.order-container h2 {
  font-size: 48px;
  margin-bottom: 25px;
  font-family: "Playfair Display", serif;
}

.order-form input {
  width: 100%;
  padding: 14px 18px;
  margin: 10px 0;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 15px;
}

.email-row {
  display: flex;
  gap: 10px;
}

.email-row input {
  flex: 1;
}

.input::after {
    content: "confirm";
    color: var(--form-text-color);
    width: 50px;
    height: 30px;
}

.order-btn {
  margin-top: 20px;
  padding: 17px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--buttton-color);
}

footer {
  background: var(--footer-background-color);
  padding: 40px 80px;
  font-family: "Roboto", sans-serif;
}

footer ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.ans {
  text-decoration: underline;
  text-align: right;
}

.footer-info {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.footer-info::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--text-color);
  position: absolute;
  bottom: 0;
}

.footer-logo {
  text-align: center;
}

.logo-text {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "PT Serif", serif;
}

.logo-img {
  margin: 0;
  padding: 0;
  width: 108px;
}

.cpright {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.small-text {
  font-size: 14px;
}
